/* CSS STYLESHEET FOR INDEX.HTML */

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background-color: #35a79c;
	color: white;
	padding: 25px;
	font-family: 'Aldrich', sans-serif;
}

header > h1, header > h2 {
	border-bottom: 2px solid white;

}

#role {
	width: 50%;
}

#location {
	width: 25%;
}

nav {
	width: 100%;
	display: flex;
	font-weight: bold;
}

.nav-link-wrap {
	width: 25%;
	text-align: center;
	padding: 25px;
	background-color: #35a79c;
	color: white;
	font-size: 22px;
	/*font-family: 'Cairo', sans-serif;*/
	font-family: 'Aldrich', sans-serif;
}

#main-body {
	width: 100%;
	padding: 25px;
	background-color: #34568B;
}

#welcome-section {
	text-align: center;
	color: white;
	font-family: 'Audiowide', cursive;
	font-size: 54px;
}

#welcome-section > h2 {
	padding: 40px;
}

h6 {
	font-size: 35px;
	font-family: 'Handlee', cursive;
}

#icon-wrapper {
	width: 100%;
	text-align: center;
}

.fa-arrow-alt-circle-down {
	font-size: 50px;
}

#about-section {
	width: 100%;
	display: flex;
	justify-content: center;
}

#image-wrapper > img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}



#details-wrapper {
	display: flex;
	width: 50%;
	align-items: center;
	font-size: 24px;
	padding: 10px;
}

#skills-section {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


#skills-meter {
	width: 80%;
	
	
}


.meter {
	display: flex;
	margin: 20px;
	background-color: #35a79c;
	
	padding: 10px;
	
}

.meter > span {
	float: left;
}

#HTML5, #CSS3 {
	width: 100%;
}

#JAVASCRIPT, #GITHUB {
	width: 75%;
}

#JQUERY, #REACT {
	width: 50%;
}

#projects-section {
	width: 100%;
}

#projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
}

.image {
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
  }

  .project-tile {
	padding: 5px;

  }

  .project-tile > img {
		height: 200px;
		width: 200px;
		border-radius: 10%;
  }

  .middle {
	transition: .5s ease;
	opacity: 0;
	transform: translate(0px, -110px);
	-ms-transform: translate(50%, 50%);
	text-align: center;
  }

  .project-tile:hover .image {
	opacity: 0.3;
  }
  
  .project-tile:hover .middle {
	opacity: 1;
  }
  
  .text {
	color: white;
	font-size: 16px;
	padding: 1px 1px;
  }
