/* CSS STYLESHEET FOR INDEX.HTML */

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background-color: #35a79c;
	color: white;
	padding: 25px;
	font-family: 'Aldrich', sans-serif;
}

header > h1, header > h2 {
	border-bottom: 2px solid white;

}

#role {
	width: 50%;
}

#location {
	width: 25%;
}

nav {
	width: 100%;
	display: flex;
	font-weight: bold;
}

.nav-link-wrap {
	width: 25%;
	text-align: center;
	padding: 25px;
	background-color: #35a79c;
	color: white;
	font-size: 22px;
	/*font-family: 'Cairo', sans-serif;*/
	font-family: 'Aldrich', sans-serif;
	
}

.nav-link-wrap > p > a {
	text-decoration: none;
	color: white;
}

.nav-link-wrap > p > a:hover {
	color: yellow;
	transition: 0.3s;
}

.nav-link-wrap:hover{
	background-color: #34568B;
	transition: 0.3s;
	cursor: pointer;

}

#hamburger-div {
	display: none;
}

#main-body {
	width: 100%;
	padding: 25px;
	background-color: #34568B;
}

#welcome-section {
	text-align: center;
	font-family: 'Audiowide', cursive;
	font-size: 54px;
	color: white;
}

#welcome-section > h2 {
	padding: 40px;
	color: yellow;
}

h6 {
	font-size: 35px;
	font-family: 'Handlee', cursive;
}

#icon-wrapper {
	width: 100%;
	text-align: center;
	padding: 50px;
	margin-bottom: 80px;
}

.fa-arrow-alt-circle-down {
	font-size: 50px;
	color: yellow;
}

#about-section {
	width: 100%;
	display: flex;
	font-family: 'Handlee', cursive;
	justify-content: center;
	margin-bottom: 150px;
	color: white;
}

#image-wrapper {
	padding: 10px;
}

#image-wrapper > img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	
}



#details-wrapper {
	display: flex;
	width: 40%;
	align-items: center;
	font-size: 24px;
	padding: 10px;
	border-left: 1px solid yellow;
}

#details-wrapper > p {
	padding: 5px;
}

#skills-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Aldrich', sans-serif;
	margin-bottom: 150px;
}

#skills-section > h2 {
	color: yellow;
	padding: 10px;
	margin-bottom: 40px;
}


#skills-meter {
	width: 80%;
	color: white;
	
	
}


.meter {
	display: flex;
	margin: 20px;
	background-color: #35a79c;
	padding: 10px;
	
}

.meter > span {
	float: left;
}

#HTML5, #CSS3 {
	width: 100%;
}

#JAVASCRIPT, #GITHUB {
	width: 75%;
}

#JQUERY, #REACT {
	width: 50%;
}

#projects-section {
	width: 100%;
	margin-bottom: 150px;
}

#projects-section > h2 {
	text-align: center;
	padding: 10px;
	font-family: 'Aldrich', sans-serif;
	margin-bottom: 40px;
	color: yellow;
}

#projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
}

.image {
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
  }

  .project-tile {
	padding: 5px;

  }

  .project-tile > img {
		height: 180px;
		width: 200px;
		border-radius: 10%;
		
  }

  .middle {
	transition: .5s ease;
	opacity: 0;
	transform: translate(0px, -110px);
	-ms-transform: translate(50%, 50%);
	text-align: center;
	font-family: 'Aldrich', sans-serif;
	
  }

  .project-tile:hover .image {
	opacity: 0.3;

  }
  
  .project-tile:hover .middle {
	opacity: 1;
	
  }
  
  .text {
	color: yellow;
	font-size: 24px;
	padding: 1px 1px;
	
  }

  .text > a {
	text-decoration: none;
	color: yellow;
  }

  footer {
	  text-align: center;
	  background-color: #35a79c;
	  
  }

  footer > h2 {
	  padding: 15px;
	  font-family: 'Aldrich', sans-serif;
	  color: white;
  }


  .fa-envelope, .fa-github-square, .fa-linkedin, .fa-file-download {
	font-size: 50px;
	padding: 25px;
	color: white;
}

/** MOBILE SCREEN SIZE CSS **/

@media only screen and (max-width: 385px) {

	header > h1 {
		padding: 5px;
	}

	#role {
		width: 75%;
		padding: 5px;
	}

	#location {
		padding: 5px;
	}

	#hamburger-div {
		text-align: right;
		display: block;
	}

	nav {
		flex-direction: column;
		display: none;
		
	}

	#welcome-section > h2 {
		font-size: 35px;
	}

	.nav-link-wrap {
		padding: 5px;
		font-size: 24px;
		width: 100%;
	}

	#about-section {
		flex-direction: column;
	}

	#icon-wrapper {
		margin-bottom: 40px;
	}

	#image-wrapper {
		text-align: center;
	}

	#details-wrapper {
		width: 100%;
		font-size: 22px;
		padding: 5px;
		border-top: 1px solid yellow;
		border-left: none;
	}

	#about-section {
		margin-bottom: 100px;
	}

	#skills-section {
		margin-bottom: 100px;
	}

	#projects-section {
		margin-bottom: 100px;
	}
  }
