/* CSS STYLESHEET FOR INDEX.HTML */

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background-color: #35a79c;
	color: white;
	padding: 25px;
	font-family: 'Aldrich', sans-serif;
}

header > h1, header > h2 {
	border-bottom: 2px solid white;

}

#role {
	width: 50%;
}

#location {
	width: 25%;
}

nav {
	width: 100%;
	display: flex;
	font-weight: bold;
}

.nav-link-wrap {
	width: 25%;
	text-align: center;
	padding: 25px;
	background-color: #35a79c;
	color: white;
	font-size: 22px;
	/*font-family: 'Cairo', sans-serif;*/
	font-family: 'Aldrich', sans-serif;
}

#main-body {
	width: 100%;
	padding: 25px;
	background-color: #34568B;
}

#welcome-section {
	text-align: center;
	color: white;
	font-family: 'Audiowide', cursive;
	font-size: 54px;
}

#welcome-section > h2 {
	padding: 40px;
}

h6 {
	font-size: 35px;
	font-family: 'Handlee', cursive;
}

hr {
	margin-bottom: 250px;
}

#about-section {
	width: 100%;
	display: flex;
	border: 1px solid red;
	justify-content: center;
}

img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

#image-wrapper {
	background-color: #35a79c;

}

#details-wrapper {
	display: flex;
	width: 50%;
	align-items: center;
}
